<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>Products Page</title>

		<script src="js/external/vue.global.js"></script>
		<script src="js/external/vuex.global.js"></script>
		<script src="js/external/vuex-persistedstate.js"></script>
		<script src="js/external/axios.js"></script>

	</head>
	<body>
		<main>
			<navmenu></navmenu>
			<h1>Products</h1>

			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>Category</th>
						<th>Price</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>

					<tr v-for="product in products">
						<td>{{ product.productId }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.category }}</td>
						<td>{{ formatCurrency(product.listPrice) }}</td>
						<td>{{ product.quantityInStock }}</td>
						<td><form @submit.prevent="buyProduct(product)"><button id="button">Buy</button></form></td>
					</tr>

				<div id="categories"><button id="button" @click.prevent="getProducts()">All</button><button id="button" @click.prevent="filterByCategory(category)" v-for="category in categories">{{category}}</button></div>

				</tbody>
			</table>
		</main>
		<script type="module" src="js/view-products.js"></script>
	</body>
</html>
